<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="sqlServer" value="LAPTOP-4PIVSS2F\COMPAC19"/>
      <add key="sqlUser" value="sa"/>
      <add key="sqlPass" value="Compac17"/>
      <add key="usuarioSDK" value="SUPERVISOR"/>
      <add key="passSDK" value=""/>
      <add key="relacionaADD" value="1"/>
    </appSettings>
</configuration>